<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hafta 3</title>
    <script src="../model/javascript/main.js"></script>
</head>
<body>
        <table widht="230">
            <tr>
                <td>
                    <fieldset>
                        <legend>Çap gir</legend>
                        Yarı çap: <br>
                        <input type="text" id="cap"> 
                       
                        <br><br>
                        Cevre: 
                        <br><br>
                        <input type="text"  id="cevre">
                        <br><br>
                        Alan: 
                        <br><br>
                        <input type="text"  id="alan">
                    </fieldset>
                </td>
            </tr>
        </table>
        <br><br>
        <input type="button" value="&emsp;Hadi-hesaplama&emsp;" onclick="bul()">
</body>
</html>