<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Örnek 5 - Hafta 4</title>
</head>
<body>
    <h5>55 e kadar olan sayılardan 5 sayısının katlarını ekranda gösteren örnek</h5>
    <br>
    <script>
        i = 1;
        while(i<= 55){
          if (i%5==0){
            document.writeln(i," Sayısı 5'in Katıdır <br>")
          }
         i++; 
            

        }
    </script>
</body>
</html>