<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İnternet Programcılığı 2. Hafta</title>
    <link rel="stylesheet" href="model/css/main.css">
    <script>
        var kayanyazi = "Ramazan Baykal";
        var genislik = 400;
    </script>
</head>
<body bgcolor="red">
   <center>
    <font size="5">
        <script type="text/javascript">
            //    a = 6;
            //    b = 31;
            //    c = (a*a+b*b);
            //    value1 = Math.pow(c,0.5);
            //    value2 = Math.pow(c,0.5).toFixed(3);
            //    document.write('Hipotenüs = ',value1,'<br>');
            //    document.write('Hipotenüs = ',value2,);
        
            //    // silindir yüksekliği girilmiş hacim hesaplama
            //    h = 6;
            //    r = 7;
            //    pi = 3.14;
            //    val = pi * r * r * h;
            //    document.write(val);
        
               //
            //    document.write("Okul Numarası: <i>224526007</i> <br>");
            //    document.write("Adınız:<b>Nuhcan</b> <br>");
            //    document.write("Soyadınız: ATAR <br>");
            //    document.write("Üstü Çizili:<s>Bilgisayar Teknolojileri</s> <br>");
            //    document.write("Üst Simge: <sup>Ertuğrul</sup> <br>");
            //    document.write("Alt Simge: <sub>Hanife</sub> <br>");
        
            document.write("<hr width='400'> ilk ders <br> ilk çıktı bilgisi <br><br>");
            document.write("Ramazan baykal, <br> Öğretim Görevlisi<hr width='400'>");
            document.write("<br><br>");
            document.write("<center><marquee width='"+genislik+"' style='border:10px dotted green'> "+ kayanyazi+"</marquee></center><br> Kayan Yazi Örneği");
        
            </script>
       </font>
   </center>
</body>
</html>